
#profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#profile img {
    width: 200px;
    height: auto;
    border-radius: 4px;
}

#profile h2 {
    margin-top: 0;
    margin-bottom: 0;
}

#profile p {
    margin-top: 0;
    margin-bottom: 0;
}

#profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

/* #profile-picture p { */
/*     font-size: 8pt; */
/*     padding: 4px; */
/* } */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
