
#profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#profile img {
    width: 200px;
    height: auto;
    border-radius: 4px;
    margin-right: 30px;
}

#profile h2 {
    margin-top: 0;
    margin-bottom: 0;
}

#profile p {
    margin-top: 0;
    margin-bottom: 0;
}
